<% show_post ||= false %>

<div class='row'>
  <div class='span0 well text-center comment-votes'>
    <% if logged_in? %>
      <p>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), remote: true, method: :post do %>
          <i class='icon-arrow-up'></i>
        <% end %>
      </p>
    <% end %>
    <p><span id='comment-<%= comment.id %>-votes'><%= comment.total_votes %></span> votes</p>
    <% if logged_in? %>
      <p>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: false), remote: true, method: :post do %>
          <i class='icon-arrow-down'></i>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class='well span10 comment-body'>
    <p>
      <em><%= comment.body %></em>
      <% if show_post %>
        on <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>
    </p>
    <p>
      <span class='quiet'>posted by</span>
      <%= link_to comment.creator.username, user_path(comment.creator) %>
      <small>at <%= print_date(comment.created_at) %></small>
    </p>
  </div>
</div>