<%= render 'shared/error', error_obj: post_comment_arr[1] %>

<div id='comment-form'>
  <%= form_for post_comment_arr do |f| %>
    <div class='form-group'>
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, class: 'span4', rows: '3' %>
    </div>
    <%= f.submit "Create comment", class: 'btn btn-primary' %>
  <% end %>
</div>