<%= render 'shared/error', error_obj: @post %>

<div class='well'>
  <%= form_for @post do |f| %>
    <div class='form-group'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class='form-group'>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class='form-group'>
      <%= f.label :description %>
      <%= f.text_area :description, rows: "5" %>
    </div>
    <div class='form-group'>
      <%= f.label :categories %>
      <%= build_category_checkboxes f %>
    </div>
    <%= f.submit "Create Post", class: 'btn btn-primary' %>
  <% end %>
</div>