<% if @pagination[:page_count] > 1 %>
  <div class='row'>
    <div class='pagination pagination-centered'>
      <ul>
        <% if @pagination[:current] != 1 %>
          <li>
            <%= link_to '«', posts_path(page: @pagination[:current]-1) %>
          </li>
        <% else %>
          <li class='disabled'>
            <%= link_to '«', '' %>
          </li>
        <% end %>

        <% set_pagination_range(@pagination[:current], @pagination[:page_count]).each do |i| %>
          <li class="<%= 'active' if @pagination[:current] == i %>">
            <%= link_to i, posts_path(page: i) %>
          </li>
        <% end %>

        <% if @pagination[:current] != @pagination[:page_count] %>
          <li>
            <%= link_to '»', posts_path(page: @pagination[:current]+1) %>
          </li>
        <% else %>
          <li class='disabled'>
            <%= link_to '»', '' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>