<div class='row'>
  <div class='span12'>

    <p><%= render @post.categories %></p>
    <%= render 'shared/content_title', title: @post.title %>

    <p><%= @post.description %></p>
    <hr/>
    <h5>Comments:</h5>
  </div>
</div>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='well span8'>
      <p>
        <em><%= comment.body %></em>
      </p>
      <p>
        <span class='quiet'>by</span>
        <%= link_to comment.creator.username, comment.post.url %>
        <small>at <%= comment.created_at %></small>
      </p>
    </div>
  </div>
<% end %>