<%= render 'shared/error', error_obj: @category %>

<div class='well'>
  <%= form_for @category do |f| %>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Create category", class: 'btn btn-success' %>
  <% end %>

</div>