<ul class='nav'>
  <li>
    <%= link_to 'Postit!', root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'All Posts', posts_path %>
  </li>
  <li class='btn-group'>
    <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      Categories
      <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
      <% Category.all.sort_by{|c| c[:name]}.each do |category| %>
        <li><%= link_to category.name, category_path(category) %>
      <% end %>
      <li class='divider'></li>
      <li>
        <%= link_to new_category_path do %>
          <i class='icon-plus'></i> New Category
        <% end %>
      </li>
    </ul>
  </li>
  <% if logged_in? %>
    <li class='btn-group'>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
    </li>
    <li>
      <%= link_to 'Logout', logout_path, class: 'btn btn-small' %>
    </li>
  <% else %>
    <li class='btn-group'>
      <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
    </li>
    <li>
      <%= link_to 'Login', login_path, class: 'btn btn-small' %>
    </li>
  <% end %>
</ul>